{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Credits Services"
  },
  "host": "works.credits.vision",
  "basePath": "/api/v1",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "JWT": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "paths": {
    "/token": {
      "post": {
        "tags": [
          "token"
        ],
        "summary": "Create a new Token.\n",
        "description": "Create a new access Token for later use in the `Authentication` HTTP header.\n",
        "parameters": [
          {
            "name": "email",
            "description": "User's email.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "password",
            "description": "User's password.",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Token"
            }
          },
          "400": {
            "description": "Bad Input"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "token"
        ],
        "summary": "Revoke a Token.\n",
        "description": "Revoke an access Token using it's api_key.\n",
        "parameters": [
          {
            "name": "api_key",
            "description": "Access token to revoke.",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/user": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Create a new User.\n",
        "description": "Create a new User and an organisation for this user.\n",
        "parameters": [
          {
            "name": "email",
            "description": "User's email.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "organization_name",
            "description": "System of the user's organisation. Allowed chars are lowercase letters, numbers and dashes.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "password",
            "description": "User's password.",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Bad Input"
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "User's ID.",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Retrieve a User's credentials.\n",
        "description": "Retrieve a User's credentials.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "summary": "Update a User's credentials.\n",
        "description": "Update a User's credentials.\n",
        "parameters": [
          {
            "name": "id",
            "description": "User's ID.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "password",
            "description": "User's password.",
            "in": "formData",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Bad Input"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/network": {
      "post": {
        "tags": [
          "network"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "summary": "Create new Network.\n",
        "description": "Create a new Blockchain Network consisting one or many nodes.\n",
        "parameters": [
          {
            "name": "name",
            "description": "Network system name. Allowed chars are lowercase letters, numbers and dashes. Must be unique within the organisation.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "organization_id",
            "description": "ID of the organisation network will belong to.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "state",
            "description": "Initial state of the world for given blockchain. Please refer to `State` in the docs for more details.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "module",
            "description": "Module source code. I.e. your Transforms and Proofs written for this particular blockchain network implementation.",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "size",
            "description": "Amount of nodes in the network, recommended between 3 and 7.",
            "in": "formData",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Input"
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          }
        }
      }
    },
    "/network/{id}": {
      "get": {
        "tags": [
          "network"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Network ID.",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Retrieve a Network by it's ID\n",
        "description": "Retrieve a Network by it's ID\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Network"
            }
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/node/{node_id}/status": {
      "get": {
        "tags": [
          "node"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "node_id",
            "description": "Node ID.",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Retrieve blockchain node status by it's ID\n",
        "description": "Retrieve blockchain node status by it's ID\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Node"
            }
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/node/{node_id}/state/{hash}": {
      "get": {
        "tags": [
          "node"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "node_id",
            "description": "Node ID.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "hash",
            "description": "State hash.",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Retrieve blockchain state",
        "description": "Retrieve blockchain state by it's hash\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/node/{node_id}/block/{hash}": {
      "get": {
        "tags": [
          "node"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "node_id",
            "description": "Node ID.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "hash",
            "description": "Block hash.",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Retrieve blockchain block",
        "description": "Retrieve blockchain block by it's hash\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/node/{node_id}/transaction": {
      "post": {
        "tags": [
          "node"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "node_id",
            "description": "Node ID.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "json",
            "description": "Marshalled transaction contents.",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Create blockchain transaction",
        "description": "Create transaction in the blockchain by posting it's stringified JSON marshalled contents to the node\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/node/{node_id}/transaction/{hash}": {
      "get": {
        "tags": [
          "node"
        ],
        "security": [
          {
            "JWT": [

            ]
          }
        ],
        "parameters": [
          {
            "name": "node_id",
            "description": "Node ID.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "hash",
            "description": "Transaction hash.",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "summary": "Retrieve blockchain transaction",
        "description": "Retrieve blockchain transaction by it's hash\n",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Authentication Required"
          },
          "403": {
            "description": "Access Denied"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "Token": {
      "type": "object",
      "properties": {
        "api_key": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "A map to store additional, application defined, metadata.\n"
        },
        "permissions": {
          "type": "object",
          "description": "A map of organization -> [permission] where each permission is a string constant.\n"
        }
      }
    },
    "Organization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Network": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "date_created": {
          "type": "string"
        },
        "organization_id": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Node"
          }
        }
      }
    },
    "Node": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "address": {
          "type": "string"
        },
        "network_id": {
          "type": "string"
        }
      }
    }
  }
}
